
.logo{font-size: 2em;padding-top: 10px;}
.Header{min-height: 60px; background-color: #CE4861; color: #fff;}
.SearchBar{padding: 20px 0;}
.red{color:#CE4861;padding-left: 5px;}
.list-group-item{cursor: pointer}
.list-group-item:hover{background-color: #CE4861; color: #fff;}
.input-group{padding: 10px;}
.video-title{margin-top: 20px}
.video-title a{color: #CE4861; padding: 20px 0; font-size: .9em;}
.video-title a:hover{color: #333;}
.video-desc{font-size: .8em;}
.page{padding: 20px 0;}
